html {background: lightblue; text-align: center; font-family: hind vadodara;}

body {margin-top: 20em;}

h1 {font-size: 5em; color: midnightblue; font-family: showcard gothic;}

h2 {font-size: 3em; color: black; font-weight: bold;}

p {font-size: 1.5em; color: black}

.afb {width: 15em; float: left; margin-top: -43em; background: white; border-radius: 15px;}
